//@use postcss-cssnext;

:root {
  --black: #525252;
  --orange: #FFB000;
  --white: #F7FBFC;
  --grey: #C2C2C2;
}

#page {
  width: 100%;
  height: 100vh;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}
#main {
  width: 41.875rem;
  height: 18.4375rem;
  background-color: var(--black);
  font-family: 'Questrial', sans-serif;
  position: relative;
  z-index: 1;
}
.product-container {
  width: 21.25rem;
  height: 17.1875rem;
  background-color: var(--orange);
  position: relative;
  top: -2.7rem;
  left: -4.4rem;
  overflow: hidden;
  & h2 {
    color: white;
    font-size: 2.5rem;
    text-align: center;
    margin-top: .5rem;
  }
  & img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}
.card {
  width: 17.5rem;
  height: 11rem;
  background-color: var(--white);
  border-radius: .7rem;
  padding: 1.3rem 1.6rem;
  position: absolute;
  top: -2.75rem;
  right: 4.4rem;
  &:after {
    content: '';
    display: block;
    width: 17.5rem;
    height: 11rem;
    background-color: #2A2A2A;
    border-radius: .7rem;
    position: absolute;
    top: 2.7rem;
    right: -1.5rem;
    transform: rotate(8deg);
    z-index: -1;
  }
}
.chip {
  width: 3rem;
  height: 2.2rem;
  margin-bottom: .7rem;
}
form {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  & label {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: .55rem;
    color: #C2C2C2;
    margin-top: .35rem;
  }
  & label[for=name] {
    width: 72%;
  }
  & label[for=date] {
    width: 22%;
    margin-left: 6%;
  }
  & label[for=cvc] {
    width: 15%;
    position: absolute;
    right: 7%;
    bottom: -3.9rem;
  }
  & label[for=remember] {
    width: auto;
    height: 2.8rem;
    font-size: .7rem;
    position: absolute;
    left: -1.5rem;
    bottom: -10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    & input {
      margin-right: .5rem;
      filter: invert(100%) hue-rotate(30deg) brightness(1.7);
      color: red;
      height: 1rem;
      width: 1rem;
    }
  }
  & input {
    border: none;
    border-bottom: 1px solid var(--grey);
    outline: none;
    background-color: transparent;
    font-size: 1.1rem;
    padding: .2rem  0;
    &#cvc {
      color: white;
    }
  }
  & button {
    height: 2.8rem;
    width: 11.8rem;
    font-size: .8rem;
    position: absolute;
    bottom: -10rem;
    left: 10rem;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    & .fa-angle-right {
      font-size: 2rem;
      position: absolute;
      left: 72%;
    }
  }
}
.price-container {
  position: absolute;
  bottom: .6rem;
  left: 3.4rem;
  display: inline-block;
  & strong {
    font-size: 2.2rem;
    color: white;
  }
  & small {
    font-size: 0.6rem;
    color: var(--grey);
  }
}